/* RegularMenu.css */

.menu-container {
  background: url("../../assets/bg.png");
  /* max-width: 1200px; */
  margin: 0 auto;
  padding: 20px;
}

.menu-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.menu-section {
  margin-bottom: 40px;
}

.menu-section-title {
  font-size: 2em;
  margin-bottom: 20px;
  border-bottom: 2px solid var(--color-golden);
  padding-bottom: 10px;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-card {
  flex: 1 1 calc(33.333% - 40px);
  background-color: var(--color-black);
  border: 1px solid var(--color-golden);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.menu-card:hover {
  box-shadow: 0 2px 8px rgba(220, 202, 135, 0.2);
}

.menu-card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.menu-card p {
  font-size: 1.2em;
  margin-bottom: 20px;
  font-family: var(--font-alt);
  color: var(--color-white);
}

.menu-card button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--font-base);
}

.menu-card button:hover {
  background-color: var(--color-golden);
}

.menu-subsection {
  margin-top: 20px;
}

.menu-subsection label {
  display: block;
  margin-bottom: 10px;
  font-size: 1em;
  font-family: var(--font-alt);
  color: var(--color-white);
}

.menu-subsection select {
  margin-left: 10px;
  padding: 5px;
  font-family: var(--font-alt);
}

.favourites-options label {
  display: inline-block;
  width: calc(50% - 20px);
  margin-right: 20px;
  color: var(--color-white);
}

.menu-build-your-own {
  margin-top: 20px;
}

.add-meal-button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  border: none;
  padding: 12px 25px;
  font-size: 1.1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  font-family: var(--font-base);
}

.add-meal-button:disabled {
  background-color: #a9a9a9;
  cursor: not-allowed;
}

.add-to-cart-button {
  display: block;
  width: 100%;
  background-color: var(--color-crimson);
  color: var(--color-black);
  border: none;
  padding: 15px 0;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 40px;
  font-family: var(--font-base);
}

.add-to-cart-button:hover {
  background-color: var(--color-golden);
}

.menu-tagline {
  text-align: center;
  font-style: italic;
  margin-top: 50px;
  font-size: 1.2em;
  font-family: var(--font-alt);
  color: var(--color-white);
}

@media (max-width: 768px) {
  .menu-card {
    flex: 1 1 calc(50% - 40px);
  }
  .favourites-options label {
    width: 100%;
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .menu-card {
    flex: 1 1 100%;
  }
}
