.menu-container {
  background: url("../../assets/bg.png");
  margin: 0 auto;
  padding: 20px;
}

.menu-title {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.menu-row {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.menu-section {
  flex: 1;
}

.menu-section-title {
  font-size: 1.8em;
  margin-bottom: 10px;
  border-bottom: 2px solid var(--color-golden);
  padding-bottom: 5px;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.menu-card {
  flex: 1 1 calc(50% - 10px);
  background-color: var(--color-black);
  border: 1px solid var(--color-golden);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 8px;
  transition: box-shadow 0.3s;
}

.menu-card:hover {
  box-shadow: 0 2px 8px rgba(220, 202, 135, 0.2);
}

.menu-card h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
  font-family: var(--font-base);
  color: var(--color-golden);
}

.menu-card p {
  font-size: 1em;
  margin-bottom: 10px;
  font-family: var(--font-alt);
  color: var(--color-white);
}

.menu-card button {
  background-color: var(--color-crimson);
  color: var(--color-black);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--font-base);
}

.menu-card button:hover {
  background-color: var(--color-golden);
}

.add-to-cart-button {
  display: block;
  width: 100%;
  background-color: var(--color-crimson);
  color: var(--color-black);
  border: none;
  padding: 15px 0;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 20px;
  font-family: var(--font-base);
}

.add-to-cart-button:hover {
  background-color: var(--color-golden);
}

@media (max-width: 768px) {
  .menu-row {
    flex-direction: column;
  }
  .menu-card {
    flex: 1 1 100%;
  }
}

.menu-section-2{
  font-size: medium  ;
}