.app__newsletter {
  padding: 2rem 4rem;
  border: 1px solid var(--color-golden);
  background: var(--color-red);
}

.app__newsletter-heading {
  text-align: center;
}

.app__newsletter-heading p {
  margin-bottom: 1rem;
}

.app__newsletter-input {
  display: flex;
  gap: 1rem; /* Reduced gap for smaller cards */
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.app__social-card {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-white);
  background: var(--color-red);
  border: 1px solid var(--color-golden);
  padding: 1rem;
  border-radius: 10px;
  width: 300px; /* Reduced width */
  height: 100px; /* Reduced height */
  transition: transform 0.3s, box-shadow 0.3s;
}

.app__social-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 12px rgba(220, 202, 135, 0.3);
}

.social-logo {
  width: 40px;  /* Set a fixed size for the logo */
  height: 40px;
  margin-right: 1rem;
}

.app__social-card-content h3 {
  font-size: 1.8rem; /* Smaller font size to match the reduced card size */
  margin-bottom: 0;
}

.app__social-card-content p {
  font-size: 1rem;
  text-align: center;
}
